
.mauro,
.kitrino {
  font-family: helvetica, "Times new roman," sans-serif;
}

.mauro {
  color:white;
  background-color: black;
}

.kitrino {
  background-color: yellow;
}




body {
  max-width: 600px;
  margin:  auto;
}

.one {
  padding: 32px;
  background-color: pink;
  color: black;
  border: 3px solid blue;
  margin:2px

}

.two {
  background-color: aqua;
  border: 3px solid purple;
  margin-bottom: auto
}

.three {
  padding: 32px;
  width:200px;
  margin:24;
  background-color: orange;
  border: 3px solid brown;
  margin-left: 300px;
  
}